<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConString" value="Data Source=.\SQLEXPRESS;Initial Catalog=ExportEtran;Integrated Security=True;MultipleActiveResultSets=True" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="EtranWcfService.Auth" name="EtranWcfService.Auth">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration=""
          contract="EtranWcfService.IAuth">
        </endpoint>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="MainNetTcpBinding" closeTimeout="00:05:00">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="Certificate" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="EtranWcfService.Auth">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
          <serviceCredentials>
            <clientCertificate>
              <authentication certificateValidationMode="ChainTrust" />
            </clientCertificate>
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="EtranWcfService.CustomUserNameValidator, EtranWcfService" />
            <windowsAuthentication includeWindowsGroups="false" />
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
 <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  
</configuration>
